<div class="container col-xl-7 col-lg-10 col-md-6 col-sm-10">
  <div class="card shadow">
    <div class="card-header text-center">
      <h4 class="text-center">
        <%= I18n.t('vehicle.headers.legal_document.index') %> (<%=I18n.t('text.remaining')%>: <%= @remaining_documents %>)
      </h4>
    </div>
    <div class="card-body text-center"> 
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th> <%= I18n.t('created_at') %> </th>
              <th> <%= I18n.t('activerecord.attributes.legal_document.document_type') %> </th>
              <th> <%= I18n.t('activerecord.attributes.legal_document.due_date') %> </th>
              <th> <%= I18n.t('activerecord.attributes.legal_document.status') %> </th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @legal_documents.each do |legal_document| %>
              <tr>
                <td><%= legal_document.created_at.strftime('%d-%m-%Y') %></td>
                <td><%= LegalDocument.translated_document_type(legal_document.document_type) %></td>
                <td><%= legal_document&.due_date&.strftime('%d-%m-%Y') %></td>
                <td>
                  <span class="badge badge-pill badge-<%= legal_document.status_color %>">
                    <%= LegalDocument.translated_status(legal_document.status) %>
                  </span>
                </td>                
                <td><%= link_to I18n.t('buttons.show'), legal_document_path(legal_document) %></td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      </div>

      <%= link_to I18n.t('text.legal_documents.new_legal_document'),
          new_legal_document_path(params),
          class: "btn btn-outline-primary btn-lg btn-block" %>
    </div>
  </div>
</div>
