<p>
  <b>Document type:</b>
  <%= @legal_document.document_type %>
</p>

<p>
  <b>Files:</b>
  <% @legal_document.files&.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<p>
  <b>Due date:</b>
  <%= @legal_document.due_date %>
</p>

<p>
  <b>Status:</b>
  <%= @legal_document.status %>
</p>

<%= link_to 'edit', edit_vehicle_legal_document_path(@legal_document.resource) %>
<%= link_to 'Back', vehicle_legal_documents_path(@legal_document.resource) %>
