<div class="card">
  <h5 class="card-header">Documentos del Vehículo</h5>
  <div class="card-body">
    <table class="table table-hover">
      <tr>
        <th>Document type:</th>
        <th>Files:</th>
        <th>Due date:</th>
        <th>Status:</th>
      </tr>
<%= link_to I18n.t('buttons.validate'), edit_legal_document_path(@legal_document) %>

      <tr>
        <td><%= @legal_document.document_type %></td>
        <td>
          <% @legal_document.files&.each do |image| %>
            <%= image_tag image, size:"180x110" %>
          <% end %>
        </td>
        <td><%= @legal_document.due_date %></td>
        <td><%= @legal_document.status %></td>
      </tr>
    </table>

    <div class="text-right col-md-11">
      <%= link_to 'Back', legal_documents_path(@legal_document.resource) %>
    </div>
  </div>
</div>
