<div class="container col-lg-9 col-md-6 col-sm-10">
  <div class="card">
    <h5 class="card-header"><%= I18n.t("#{@resource.class.to_s.underscore}.headers.legal_document.#{@resource.class.to_s.underscore}_documents")%></h5>
    <div class="card-body">
      <div class="table-responsive ">
        <table class="table table-hover table-sm">
          <tr>
            <th style="width:20%"><%= I18n.t('activerecord.attributes.legal_document.document_type') %>:</th>
            <td>
              <%= LegalDocument.translated_document_type(@legal_document.document_type) %> 
              (<span class="badge badge-pill badge-<%= @legal_document.status_color %>">
                <%= LegalDocument.translated_status(@legal_document.status) %>
              </span>)
            </td> 
          </tr>
          <tr>
            <th><%= I18n.t('activerecord.attributes.legal_document.due_date') %>:</th>
            <td><%= @legal_document&.due_date&.strftime('%d-%m-%Y') %></td>
          </tr>
          <tr>
            <th><%= I18n.t('activerecord.attributes.legal_document.document_file')%>:</th>
            <td>
              <% @legal_document.images&.each do |image| %>
                <% file_preview = image.previewable? ? image.preview(resize_to_limit: image_size) : image.variant(resize_to_limit: image_size) %>
                <%= image_tag file_preview, class:"img-fluid" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header"><%= I18n.t("#{@resource.class.to_s.underscore}.headers.legal_document.#{@resource.class.to_s.underscore}_data")%></h5>
    <div class="card-body">
      <h3 class="card-title"></h3>
      <div class="table-responsive">
        <table class="table table-hover table-sm ">
          <%= render "#{@resource.class.to_s.underscore}", resource: @resource %>
        </table>
      </div>
    </div>
  </div>
  <div class="text-right col-md-12">
    <%= link_to I18n.t('buttons.validate'), edit_legal_document_path(@legal_document), class: "btn btn-outline-primary btn-lg btn-block" %><br>
    <%= link_to I18n.t('text.back'), legal_documents_path(@legal_document.resource) %>
  </div>
</div>

