<div class="form-group">
  <b><%= f.label 'Información personal:' %></b>
  <%= f.text_field :first_name, autofocus: true, class:"form-control form-control-sm",
      placeholder: I18n.t('activerecord.attributes.user.first_name') %>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.text_field :last_name, class:"form-control form-control-sm",
        placeholder: I18n.t('activerecord.attributes.user.last_name') %>
  </div>
  <div class="form-group col-md-6">
    <%= f.text_field :second_last_name, class:"form-control form-control-sm",
        placeholder:I18n.t('activerecord.attributes.user.second_last_name') %>
  </div>
</div>

<div class="form-row align-items-center">

  <% if action_name.in?(%w[new create]) %>
    <div class="form-group col-md-6">
      <%= f.text_field :rut, class:"form-control form-control-sm",
          placeholder:"rut: 11.111.111-1" %>
    </div>
  <% elsif action_name.in?(%w[edit update])%>
    <fieldset disabled class="col-md-6">
      <div class="form-group ">
        <%= f.text_field :rut, class:"form-control form-control-sm",
            placeholder:"rut: 11.111.111-1" %>
      </div>
    </fieldset>
  <% end %>
  <div class="form-group col-md-2">
    <%= f.label 'Nacimiento' , style: "display: inline;" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.date_field :birthdate, class:"form-control form-control-sm" %>
  </div>

</div>

<div class="form-row">
  <div class="form-group col-md-6">          
    <%= f.select :gender,
          options_for_select(@user.class.translated_genders.map { |t, k, _v| [t, k] }, selected: @user.gender),
          { include_blank: 'Género' }, { class:"form-control form-control-sm" } %>         
  </div>
  <div class="form-group col-md-6">
    <div class="input-group">
      <div class="input-group-prepend form-control-sm" style="padding-left: 0;">
        <span class="input-group-text" >+569</span>
      </div>
      <%= f.text_field :phone_number, class:"form-control form-control-sm",
          placeholder:"Número telefónico" %>
    </div>
  </div>

</div>
