<% if notice %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>  

<p>
  <strong>Brand:</strong>
  <%= @vehicle_model.brand_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_model.name %>
</p>

<%= link_to 'Edit', edit_vehicle_model_path(@vehicle_model) %> |
<%= link_to 'Back', vehicle_models_path %>
