<div class="container col-xl-7 col-lg-10 col-md-6 col-sm-10">
  <div class="card shadow">
    <div class="card-header">
      <h2 class="text-center"><%= I18n.t('user.headers.my_profile') %></h2>
    </div>
    <div class="card-body">    
      <div class="row-fluid">
        <div class="row">
          <h4 class="card-title col-xl-9 col-sm-7 col-14"><%= I18n.t('user.headers.personal_information')%>:</h4><br>
          <div class='container col-xl-3 col-sm-4 col-14' style='text-align: end;'>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= I18n.t('buttons.options') %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to I18n.t('buttons.edit'), '/users/edit', class:"dropdown-item" %>
                <%= link_to I18n.t('buttons.legal_documents'), user_legal_documents_path(@user), class:"dropdown-item" %>
                <%= link_to I18n.t('buttons.driver_account'), new_user_driver_account_path(@user), class:"dropdown-item" %>
              </div>
            </div>
          </div>
        </div><br>
        <%= render 'personal_information' %>
      </div>  
    </div>
    <%= render 'bank_information' if @bank_account %>
  </div>
</div>