<div class="container col-xl-6 col-lg-10 col-md-6 col-sm-10">
  <div class="card shadow">
    <div class="card-body">
    <h1 class="card-title text-center"><%= I18n.t('user.headers.my_profile') %></h1><br>
    <div class="row-fluid">
      <div class="row">
        <h4 class="card-title col-xl-9 col-sm-7 col-14"><%= I18n.t('user.headers.personal_information')%>:</h4><br>
        <div class='container col-xl-3 col-sm-4 col-14' style='text-align: end;'>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= I18n.t('buttons.options') %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to I18n.t('buttons.edit'), '/users/edit', class:"dropdown-item" %>
              <%= link_to I18n.t('buttons.legal_documents'), user_legal_documents_path(@user), class:"dropdown-item" %>
              <%= link_to 'Cuenta de conductor', new_user_driver_account_path(@user), class:"dropdown-item" %>
            </div>
          </div>
        </div>
      </div><br>
      <div class="table table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th style="width:40%;"><%= I18n.t('user.name')%>:</th>
              <td><%= @user.full_name %></td>
            </tr>
            <tr>
              <th><%= I18n.t('user.birthdate')%>:</th>
              <td><%= @user.birthdate.strftime('%d-%m-%Y')%></td>
            </tr>
            <tr>
              <th><%= I18n.t('user.gender')%>:</th>
              <td><%= User.translated_gender(@user.gender) %></td>
            </tr>
            <tr>
              <th><%= I18n.t('user.rut')%>:</th>
              <td><%= @user.rut%></td>
            </tr>  
            <tr>
              <th><%= I18n.t('user.email')%>:</th>
              <td><%= @user.email%></td>
            </tr>    
          </tbody>
        </table>
        <div class="text-right">
          <%= link_to I18n.t('buttons.back'), :back %>
        </div>
      </div>  
    </div>
  </div>
</div>