<div class="container col-md-5 offset-md-4 ">
  <div class="card w-75">
    <div class="card">
      <div class="card-header">
        <h2><%= I18n.t('devise.passwords.forgotten') %></h2>
      </div>
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"example@example.com" %>
          </div>

          <div class="form-group">
            <%= f.submit I18n.t('devise.passwords.instructions'), class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <div class="text-right">
            <%= render "devise/shared/links" %>
          </div>

        <% end %>        
      </div>  
    </div>
  </div>
</div>
