<p id="notice"><%= notice %></p>

<h1>Bodyworks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodyworks.each do |bodywork| %>
      <tr>
        <td><%= bodywork.name %></td>
        <td><%= link_to 'Show', bodywork %></td>
        <td><%= link_to 'Edit', edit_bodywork_path(bodywork) %></td>
        <td><%= link_to 'Destroy', bodywork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodywork', new_bodywork_path %>
