<div class="container col-xl-8 col-lg-10 col-md-9 col-sm-10">
  <div class="card shadow">
    <div class="card-header text-center">
      <h2><strong>Lista de reservas</strong></h2>
    </div>
    <div class="card-body"><br> 
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Vehículo</th>
              <th>Fecha de inicio</th>
              <th>Fecha de término</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td><%= reservation.vehicle.brand_and_model %></td>
                <td><%= reservation.start_date.strftime('%d-%m-%Y') %></td>
                <td><%= reservation.end_date.strftime('%d-%m-%Y') %></td>
                <td>
                  <span class="badge badge-pill badge-<%= reservation.status_color%>">
                    <%= Reservation.translated_status(reservation.status) %>
                  </span>
                </td>
                <td>
                  <% if reservation.waiting_payment? %>
                    <%= link_to 'Pagar', new_reservation_payment_path(reservation) %> |
                    <%= link_to 'Editar', edit_vehicle_reservation_path(reservation.vehicle, reservation) %> |
                  <% end %>
                  <%= link_to 'Detalles', [reservation.vehicle, reservation] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
      </div>
    </div>
  </div>
</div>
