<h1>Listing reservations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Vehicle</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Deleted at</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.user %></td>
    <td><%= reservation.vehicle %></td>
    <td><%= reservation.start_date %></td>
    <td><%= reservation.end_date %></td>
    <td><%= reservation.deleted_at %></td>
    <td><%= reservation.status %></td>
    <td><%= link_to 'Show', [reservation.vehicle, reservation] %></td>
    <td><%= link_to 'Edit', edit_vehicle_reservation_path(reservation.vehicle, reservation) %></td>
    <td><%= link_to 'Destroy', [reservation.vehicle, reservation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_vehicle_reservation_path(params[:vehicle_id]) %>
