<%= form_for([@payment.reservation, @payment]) do |f| %>
  <%= render 'shared/errors', resource: @payment %>

  <% if action_name.in?(%w[new create])%>
    <div class="form-group">
      <div class="input-group">
        <div class="custom-file">
          <%= f.label :file, class: "custom-file-label" %><br />
          <%= f.file_field :file, class: "form-control custom-file-input", accept: "image/png,image/jpg,image/jpeg,application/pdf", label: "Add an image" %>
        </div>
      </div>
    </div>
  <% elsif action_name.in?(%w[edit update])%>
    <div class="form-group">
      <%= f.label :file %>:
      <%= image_tag preview(@payment.file, 900, 500), class:"img-fluid" %>
    </div>
  
    <div class="form-group">
      <%= f.label :status %>:<br />
      <%= f.select :status,
          options_for_select(@payment.class.translated_statuses.map { |t, k, _v|
           [t, k]
          }, @payment.status), {}, { class:"form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :comment %>:
      <%= f.text_area :comment, class:"form-control" %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Aceptar", class: "btn btn-outline-primary btn-lg btn-block" %>
  </div>
<% end %>
