<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div class="form-group">
      <% vehicle.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :brand_id %>
    <%= form.collection_select :brand_id, @brands, :id, :name, { include_blank: true, selected: @selected_option }, { class: 'form-control', disabled: @disabled } %>
  </div>

  <div class="form-group">
    <%= form.label :vehicle_model_id %>
    <%= form.grouped_collection_select :vehicle_model_id, @brands, :vehicle_models, :name, :id, :name, { include_blank: true }, { class:"form-control" } %>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :body_type %>
      <%= form.collection_select :body_type, Vehicle.body_types, :first, :first, {}, { class:"form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :engine_type %>
      <%= form.collection_select :engine_type, Vehicle.engine_types, :first, :first, {}, { class:"form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :door_quantity %>
      <%= form.number_field :door_quantity, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :passenger_capacity %>
      <%= form.number_field :passenger_capacity, class:"form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :air_conditioning %>
      <%= form.check_box :air_conditioning, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :airbags_quantity %>
      <%= form.number_field :airbags_quantity, class:"form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :year %>
      <%= form.select :year, (Date.today.year - 10..Date.today.year + 1), { selected: Date.today.year }, { class:"form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :license_plate %>
      <%= form.text_field :license_plate, class:"form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :engine_number %>
      <%= form.text_field :engine_number, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :chasis_number %>
      <%= form.text_field :chasis_number, class:"form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :transmission %>
      <%= form.collection_select :transmission, Vehicle.transmissions, :first, :first, {}, { class:"form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :drive %>
      <%= form.collection_select :drive, Vehicle.drives, :first, :first, {}, { class:"form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :steering %>
      <%= form.collection_select :steering, Vehicle.steerings, :first, :first, {}, { class:"form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :odometer %>
      <%= form.number_field :odometer, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, class:"form-control" %>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="custom-file">
        <%= form.label :images, class: "custom-file-label"%>
        <%= form.file_field :images, multiple: true, class: "form-control custom-file-input",accept: "image/png,image/jpg,image/jpeg", label: "Add an image" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= render 'images', vehicle: vehicle, size:"200x180" %>
  </div>

  <div class="form-group">
    <%= form.submit I18n.t('buttons.submit'), class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
