<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-10 row">
    <%= form.label :brand_id, class:"col-md-3 col-form-label" %>
    <%= form.collection_select :brand_id, Brand.order(:name), :id, :name, include_blank: true, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :vehicle_model_id, class:"col-md-3 col-form-label" %>
    <%= form.grouped_collection_select :vehicle_model_id, Brand.order(:name), :vehicle_models, :name, :id, :name, { include_blank: true }, { class:"form-control col-md-5" } %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :body_type, class:"col-md-3 col-form-label" %>
    <%= form.collection_select :body_type, Vehicle.body_types, :first, :first, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :engine_type, class:"col-md-3 col-form-label" %>
    <%= form.collection_select :engine_type, Vehicle.engine_types, :first, :first, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :door_quantity, class:"col-md-3 col-form-label" %>
    <%= form.number_field :door_quantity, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :passenger_capacity, class:"col-md-3 col-form-label" %>
    <%= form.number_field :passenger_capacity, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :air_conditioning, class:"col-md-3 col-form-label" %>
    <%= form.check_box :air_conditioning, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :airbags_quantity, class:"col-md-3 col-form-label" %>
    <%= form.number_field :airbags_quantity, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :year, class:"col-md-3 col-form-label" %>
    <%= form.text_field :year, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :licence_plate, class:"col-md-3 col-form-label" %>
    <%= form.text_field :licence_plate, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :engine_number, class:"col-md-3 col-form-label" %>
    <%= form.text_field :engine_number, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :chasis_number, class:"col-md-3 col-form-label" %>
    <%= form.text_field :chasis_number, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :transmission, class:"col-md-3 col-form-label" %>
    <%= form.collection_select :transmission, Vehicle.transmissions, :first, :first, class:"form-control col-md-5"%>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :traction, class:"col-md-3 col-form-label" %>
    <%= form.number_field :traction, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :direction, class:"col-md-3 col-form-label" %>
    <%= form.number_field :direction, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :odometer, class:"col-md-3 col-form-label" %>
    <%= form.number_field :odometer, class:"form-control col-md-5" %>
  </div>

  <div class="form-group col-md-10 row">
    <%= form.label :comment, class:"col-md-3 col-form-label" %>
    <%= form.text_area :comment, class:"form-control col-md-5" %>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <div class="col-md-3">
        <%= form.submit 'ingresar', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
