<% resource ||= 'vehicles' %>
<div class="card">
  <h5 class="card-header"><%= I18n.t("vehicle.headers.index.#{resource}")%></h5>
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <% @vehicles.each do |vehicle| %>
      <!-- vehicle card -->
        <div class="col-md-3">
          <div class="card" style="width: 25rem;">
            <%= image_tag vehicle&.profile_images&.first&.image, size: '300x300', class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= vehicle.brand_and_model %></h5>
              <p class="card-text"><%= vehicle.comment %></p>
              <p class="card-text">Tarifa diaria: $<%= vehicle.fee.amount %> CLP</p>
              <%= link_to 'Show', vehicle, class:"btn btn-primary" %>
              <%= link_to 'Edit', edit_vehicle_path(vehicle), class:"btn btn-primary" if vehicle.belongs_to_current_user?(current_user) %>
              <%= link_to 'Destroy', vehicle, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } if vehicle.belongs_to_current_user?(current_user) %>
            </div>
          </div>
        </div>    
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
