<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle model</th>
      <th>Year</th>
      <th>Odometer</th>
      <th>User</th>
      <th>Licence plate</th>
      <th>Ngine number</th>
      <th>Chasis number</th>
      <th>Transmission</th>
      <th>Engine type</th>
      <th>Passenger capacity</th>
      <th>Air conditioning</th>
      <th>Airbags quantity</th>
      <th>Door quantity</th>
      <th>Traction</th>
      <th>Direction</th>
      <th>Body type</th>
      <th>Visible</th>
      <th>Fee</th>
      <th>Comment</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vehicle_model_id %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.odometer %></td>
        <td><%= vehicle.user_id %></td>
        <td><%= vehicle.licence_plate %></td>
        <td><%= vehicle.engine_number %></td>
        <td><%= vehicle.chasis_number %></td>
        <td><%= vehicle.transmission %></td>
        <td><%= vehicle.engine_type %></td>
        <td><%= vehicle.passenger_capacity %></td>
        <td><%= vehicle.air_conditioning %></td>
        <td><%= vehicle.airbags_quantity %></td>
        <td><%= vehicle.door_quantity %></td>
        <td><%= vehicle.traction %></td>
        <td><%= vehicle.direction %></td>
        <td><%= vehicle.body_type %></td>
        <td><%= vehicle.visible %></td>
        <td><%= vehicle.fee_id %></td>
        <td><%= vehicle.comment %></td>
        <td><%= vehicle.deleted_at %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
