

<div class="container col-xl-8 col-lg-10 col-md-6 col-sm-10">
  <div class="card shadow">

    <%= render 'carousel', vehicle: @vehicle %>

    <div class="card-body">
      <div class='row'>
        <h3 class="card-title col-xl-9 col-sm-7 col-14"><%= @vehicle.brand_model_and_year %></h3>
      <!-- Example single danger button -->
        <div class='container col-xl-3 col-sm-4 col-14' style='text-align: end;'>
          <div class="row-fluid">
            <%= render 'publish_form', vehicle: @vehicle if @vehicle.ready? && @vehicle.belongs_to_current_user?(current_user) %>
            <%= render 'reservation_link', vehicle: @vehicle if @vehicle.published? && !@vehicle.belongs_to_current_user?(current_user) %>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= I18n.t('buttons.options') %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
              <% if @vehicle.belongs_to_current_user?(current_user) || current_user.admin? %>
                <%= link_to I18n.t('buttons.edit'), edit_vehicle_path(@vehicle), class:"dropdown-item" %>
                <%= link_to I18n.t('buttons.legal_documents'), vehicle_legal_documents_path(@vehicle), class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to I18n.t('buttons.back'), my_vehicles_path, class:"dropdown-item" %>
              <% else %> 
                <%= link_to I18n.t('buttons.back'), vehicles_path, class:"dropdown-item" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h5 class="card-title"><%= I18n.t('vehicle.show.description') %>:</h5>
      <p class="card-text"><%= @vehicle.comment %></p><br>
      <div class="row-fluid">
        <h5 class="card-title"><%= I18n.t('vehicle.show.details') %>:</h5><br>
        <div class="table table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th style="width:50%;"><%= I18n.t('vehicle.show.daily_price') %>:</th>
                <td>$<%= @vehicle.fee.amount %> CLP</td>
              </tr>          
              <tr>
                <th style="width:50%;"> <%= I18n.t('activerecord.attributes.vehicle.odometer')%>:</th>
                <td><%= @vehicle.odometer %></td>
              </tr>          
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.transmission')%>:</th>                
                <td><%= Vehicle.translated_transmission(@vehicle.transmission) %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.engine_type')%>:</th>
                <td><%= Vehicle.translated_engine_type(@vehicle.engine_type) %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.passenger_capacity')%>:</th>
                <td><%= @vehicle.passenger_capacity %> personas</td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.air_conditioning')%>:</th>
                <td><%= @vehicle.air_conditioning %></td>
              </tr>
              <tr>
                <th style="width:50%;"> Airbags:</th>
                <td><%= @vehicle.airbags_quantity %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.door_quantity')%>:</th>
                <td><%= @vehicle.door_quantity %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.drive')%>:</th>
                <td><%= @vehicle.drive %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.steering')%>:</th>
                <td><%= Vehicle.translated_steering(@vehicle.steering) %></td>
              </tr>
              <tr>
                <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.body_type')%>:</th>
                <td><%= Vehicle.translated_body_type(@vehicle.body_type) %></td>
              </tr>
            </tbody>
          </table><br>
        </div>
        <%if @vehicle.belongs_to_current_user?(current_user)%>
          <h5 class="card-title"><%= I18n.t('vehicle.show.legal_information') %>:</h5><br>
          <div class="table table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.engine_number')%>:</th>
                  <td><%= @vehicle.engine_number %></td>
                </tr>
                <tr>
                  <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.chasis_number')%>:</th>
                  <td><%= @vehicle.chasis_number %></td>
                </tr>
                <tr>
                  <th style="width:50%;"><%= I18n.t('activerecord.attributes.vehicle.license_plate')%>:</th>
                  <td><%= @vehicle.license_plate %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <%end%>
        <div class="text-right">
          <%= link_to I18n.t('buttons.back'), vehicles_path %>
        </div>
      </div>
    </div>
  </div>
</div>