<div class="container col-xl-12 col-lg-10 col-md-6 col-sm-10" id='show_vehicle'>
  <div class="card shadow">
    <div class='row'>
      <div class='col-md-8'>
        <%= render 'vehicles/partials/carousel', vehicle: @vehicle %>
      </div>
      <div class='col-md-4'>
        <div class="card-body">
          <h3 class="card-title"><%= @vehicle.brand_and_model %></h3>
          <!-- upper buttons -->
          <div class='row mb-3' style='float: right;'>
            <%= render 'vehicles/partials/publish_form', vehicle: @vehicle if (@vehicle.ready? || @vehicle.disabled?) && @vehicle.legal_documents_effective? && @vehicle.user == current_user %>
            <%= render 'vehicles/partials/reservation_link', vehicle: @vehicle if @vehicle.published? && !@vehicle.belongs_to_current_user?(current_user) %>
            <div class="btn-group ml-3 mr-3" style='float: right;'>
              <button type="button" class="btn btn-outline-primary dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= I18n.t('buttons.options') %>
              </button>
              <!-- OWNER OPTIONS -->
              <div class="dropdown-menu dropdown-menu-right">
                <% if @vehicle.belongs_to_current_user?(current_user) || current_user.admin? %>
                  <%= link_to 'Ver reservas', vehicle_reservations_path(@vehicle), class:"dropdown-item" %>
                  <%= link_to I18n.t('buttons.legal_documents'), vehicle_legal_documents_path(@vehicle), class:"dropdown-item" %>
                  <%= link_to I18n.t('buttons.edit'), edit_vehicle_path(@vehicle), class:"dropdown-item" %>
                  <% if @vehicle.disabled? %>
                    <%= link_to 'Activar',
                        vehicle_enable_path(@vehicle), method: :put,
                        data: { confirm: 'Seguro?' }, action: :enable, remote: true,
                        class:"alert-success dropdown-item" %>
                  <% else %>
                    <%= link_to 'Desactivar',
                        vehicle_disable_path(@vehicle), method: :put, action: :disable, remote: true,
                        class:"alert-warning dropdown-item" %>
                  <% end %>
                  <%= link_to 'Eliminar', @vehicle, method: :delete,
                      class:"alert-danger dropdown-item", data: { confirm: 'Estas seguro?' }%>
                  <div class="dropdown-divider"></div>
                <% end %>
                <!-- OTHER USERS OPTIONS -->
                <%= link_to I18n.t('buttons.back'), vehicles_path, class:"dropdown-item" %>
              </div>
            </div>
          </div>
          <!-- VEHICLE DATA HERE -->
          <%= render 'vehicles/partials/data', vehicle: @vehicle %>
        </div>
      </div>
    </div>  
  </div>
</div>
