<% if notice %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="container col-xl-6 col-lg-10 col-md-6 col-sm-10">
  <div class="card">
    <%= render 'show_images', vehicle: @vehicle%>
    <div class="card-body">
      <h3 class="card-title"><%= @vehicle.brand_model_and_year %></h3><br>
      <h5 class="card-title">Descripción:</h5>
      <p class="card-text"><%= @vehicle.comment %></p><br>
      <h5 class="card-title">Detalles:</h5>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Tarifa diaria:</th>
            <td>$<%= @vehicle.fee.amount %> CLP</td>
          </tr>
          <tr>
            <th>Patente:</th>
            <td><%= @vehicle.license_plate %></td>
          </tr>
          <tr>
            <th>Kilomatraje:</th>
            <td><%= @vehicle.odometer %></td>
          </tr>
          <tr>
            <th>N° de motor:</th>
            <td><%= @vehicle.engine_number %></td>
          </tr>
          <tr>
            <th>N° de chasis:</th>
            <td><%= @vehicle.chasis_number %></td>
          </tr>
          <tr>
            <th>Transmisión:</th>
            <td><%= @vehicle.transmission %></td>
          </tr>
          <tr>
            <th>Tipo de motor:</th>
            <td><%= @vehicle.engine_type %></td>
          </tr>
          <tr>
            <th>Capacidad:</th>
            <td><%= @vehicle.passenger_capacity %> personas</td>
          </tr>
          <tr>
            <th>Aire acondicionado:</th>
            <td><%= @vehicle.air_conditioning %></td>
          </tr>
          <tr>
            <th>Airbags:</th>
            <td><%= @vehicle.airbags_quantity %></td>
          </tr>
          <tr>
            <th>Puertas:</th>
            <td><%= @vehicle.door_quantity %></td>
          </tr>
          <tr>
            <th>Tracción:</th>
            <td><%= @vehicle.drive %></td>
          </tr>
          <tr>
            <th>Dirección:</th>
            <td><%= @vehicle.steering %></td>
          </tr>
          <tr>
            <th>Carrocería:</th>
            <td><%= @vehicle.body_type %></td>
          </tr>
        </tbody>
      </table>
      <div class="card-body text-center">
        <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
        <%= link_to 'Back', vehicles_path %>
      </div>
    </div>
  </div>
</div>



