<style>
  .container{
    padding-top:2%;
    padding-bottom:3%;
    padding-left:3%;
    padding-right:3%;
    background-color: #E0E6F8;
  }
</style>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2><%= I18n.t('devise.text.hello')%> <%= @emaill %>!</h2>
    </div>
    <div class="card-body">

      <% if @resource.try(:unconfirmed_email?) %>
        <p><%= I18n.t('devise.text.messages.is_being_changed')%> <%= @resource.unconfirmed_email %>.</p>
      <% else %>
        <p><%= I18n.t('devise.text.messages.has_been_changed')%> <%= @resource.email %>.</p>
      <% end %>
    </div>
  </div>
</div>