<h4 class="card-title"><%= I18n.t('devise.text.hello')%> <%= @resource.first_name%>!</h4>
<p><%= I18n.t('devise.passwords.reset_instructions')%></p>
<p><%= link_to I18n.t('devise.passwords.change'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= I18n.t('devise.text.messages.ignore')%></p>