<style>
  .container{
    padding-top:2%;
    padding-bottom:3%;
    padding-left:3%;
    padding-right:3%;
    background-color: #E0E6F8;
  }
</style>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2><%=I18n.t('devise.text.hello')%> <%= @resource.email %>!</h2>
    </div><br>
    <div class="card-body">

      <p><%= I18n.t('devise.passwords.reset_instructions')%></p>

      <p><%= link_to I18n.t('devise.passwords.change'), edit_password_url(@resource, reset_password_token: @token) %></p>

      <p>
        <%= I18n.t('devise.text.messages.ignore')%>
      </p>
    </div>
  </div>
</div> 