<p font-size="22px" font-family="arial"><%=I18n.t('devise.text.hello')%> <%= @resource.first_name%>!</p>
<p font-size="16px" font-family="arial"><%= I18n.t('devise.passwords.reset_instructions')%></p>
<p font-size="16px" font-family="arial"><%= link_to I18n.t('devise.passwords.change'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p font-size="16px" font-family="arial"><%= I18n.t('devise.text.messages.ignore')%></p>