<!DOCTYPE html>
<html>
  <head>
    <title>EasyCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container-fuid">
    <body>
      <%= render 'nav/main_navbar'  %>
      <%= render 'shared/flash_messages'  %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </body>  
  </div>
</html>
