<!DOCTYPE html>
<html>
  <head>
    <title>EasyCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fuid">
      <%= render 'nav/main_navbar' %>
      <div class="main-layout">
        <%= toastr_flash %>
        <%= yield %>
      </div>    
    </div>
  </body>
  <%= render 'layouts/footer'%>
    
</html>
